.animated {
	will-change: transform opacity;
}

@media (prefers-reduced-motion: no-preference) {
	p.animate {
		animation-name: slide-from-bottom;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.sidebar.animate {
		animation-name: slide-from-left;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.sidebar.animate img, .sidebar.animate h3 {
		animation-name: slide-from-top;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.sidebar.animate nav, .sidebar.animate footer, .sidebar.animate p {
		animation-name: slide-from-bottom;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.services-table.animate {
		animation-name: slide-from-right;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.clients-table.animate {
		animation-name: slide-from-left;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.values-table.animate {
		animation-name: slide-from-right;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.about-details.animate .about-image {
		animation-name: slide-from-left;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.about-details.animate p {
		animation-name: slide-from-right;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.contact-form.animate {
		animation-name: slide-from-bottom;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.section-header.animate > * {
		animation-name: slide-from-bottom;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.industries.animate {
		animation-name: slide-from-bottom;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	footer.animate .icon-card {
		animation-name: slide-from-right;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

}

@keyframes slide-from-left {
	from {
		transform: translateX(-25%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(25%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}


@keyframes slide-from-top {
	from {
		transform: translateY(-25%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-from-bottom {
	from {
		transform: translateY(25%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}