/* Custom properties */
:root {
	/* Layout */
	--sidebar-width: 40rem;
	/* Theme */
	--color-primary: #07233b;
	--color-primary-light: #082844;
	--color-secondary: #ffffff;
	--color-secondary-transparent: hsla(0, 0%, 100%, 0.65);
	--color-tertiary: #e75a0d;
	--color-tertiary-light:  hsla(21, 89%, 70%);
	/* Font */
	--font-size-icon-card-small: 16px;
	--font-size-medium: 18px;
	--font-size-large: 24px;
	--font-size-icon: 32px;
	--font-size-header: 48px;
	/* Animation */
	--animation-duration: 1s;
}

/* Typography */
html {
	font-family: "Verdana";
}

h2 {
	font-size: var(--font-size-header);
	letter-spacing: 0.1em;
	margin-bottom: 1em;
}

h3 {
	font-size: var(--font-size-large);
	font-weight: 600;
	margin-bottom: 1em;
}

p {
	font-size: var(--font-size-medium);
	line-height: 1.4em;
}

a {
	text-decoration: none;
}

li + li {
	margin-top: 2em;
}

/* Layout */
/* Disables horizontal scrolling. No idea where the extra space comes from. */
html, body {
	overflow-x: hidden;
}

#footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#footer .l-main-content {
	padding-bottom: 0;
}

.l-sidebar header {
	position: fixed;
	left: 0;
	top: 0;
	width: var(--sidebar-width, 350px);
	height: 100vh;
	z-index: 1;
	transition: 0.7s ease-in;
}

.l-sidebar .l-main-content {
	padding: 0 5% 5% calc(var(--sidebar-width));
}

.l-grid-2-column {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
}

.l-flex-row {
	display: flex;
}


.l-flex-row.l-flex-2-column {
	flex-wrap: wrap;
}

.l-flex-row.l-flex-2-column > * {
	width: 48%;
}

.l-flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

img {
	object-fit: contain; /* Needed to maintain img aspect ratio in flex box. */
}

/* Modules */
.logo {
	font-weight: 600;
}

.btn-nav {
	font-size: var(--font-size-icon);
	color: var(--color-secondary);
	border: none;
	background-color: transparent
}

.header-content {
	width: 60%;
	min-height: 90%;
	margin: 0 auto;
	padding: 3em 2em;
	text-align: center;
}

.nav-socials {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 3rem;
}

.nav-primary {
	text-align: right;
}

nav li {
	font-size: 1.5rem;
	letter-spacing: 0.3em;
}

nav a {
	color: var(--color-tertiary);
	transition: color 1s;
}

nav a:hover {
	color: var(--color-tertiary-light);
}

.main-section {
	--section-header-padding-top: 5em;
	--section-content-verticle-offset: calc(-9rem + var(--section-header-padding-top));
}


	.main-section__header {
		padding-top: var(--section-header-padding-top);
	}

	.main-section__header p {
		color: hsl(0, 0%, 85%);
		padding-left: 2em;
		font-size: var(--font-size-large);
	}

	.main-section__content {
		position: relative;
		top: var(--section-content-verticle-offset);
	}


.services-table {
	gap: 1rem;
}

	.services-table p {
		color: var(--color-secondary-transparent);
	}

.about-details {
	padding-right: 5%;
	text-align: justify;
	margin-bottom: 7rem;
}

	.about-details img {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
		width: 200px;
		filter: grayscale(100%);
	}

	.about-details .background {
		position: absolute;
		right: 3rem;
		width: 70%;
		height: 100%;
	}

	.about-details .about-image {
		position: relative;
	}

.clients {
	column-gap: 2em;
	padding: 2em 1em 0 1em;
	margin-bottom: 7em;
}
	

.client-card {
	position: relative;
}

	.client-card__content {
		padding: 2em 1em;
		width: 90%;
		position: relative;
		left: 50%;
		transform: translate(-50%, -4rem);
	}
	.client-card__text {
		margin-bottom: 1em;
		font-size: var(--font-size-icon-card-small);
	}

	.client-card img {
		max-width: 100%;
	}


.contact-form {
	font-size: var(--font-size-icon-card-small);
	padding: 2em 2em;
}

	.contact-form .l-flex-row {
		gap: 5%;
	}

		.contact-form .l-flex-row > * {
			flex: 1;
		}

	.contact-form textarea {
		height: 100%;
	}

.icon-card {
	--icon-card-padding-vertical: 2em;
	--icon-card-padding-right: 1em;
	--icon-offset-right: 0.75em;
	--content-padding-left: calc(var(--icon-offset-right )*8);

	font-size: var(--font-size-medium);
	position: relative;
	padding:
	var(--icon-card-padding-vertical, 0)
	var(--icon-card-padding-right, 0)
	var(--icon-card-padding-vertical, 0)
	var(--content-padding-left, 0);
}

	.icon-card .icon-card__icon {
		position: absolute;
		left: calc(var(--icon-offset-right));
		font-size: var(--font-size-icon);
	}

	.icon-card__text {
		font-size: var(--font-size-medium);
		
	}

	.icon-card__title {
		margin-top: 0.75em;
	}

	.icon-card--small {
		--icon-card-padding-vertical: 0.25em;
		--icon-card-padding-right: 0;
		--icon-offset-right: 0.25em;
		--content-padding-left: calc(var(--icon-offset-right) * 15);
		font-size: var(--font-size-icon-card-small);
	}

		.icon-card--small .icon-card__icon {
			font-size: var(--font-size-large);
		}

		.icon-card--small .icon-card__title {
			font-size: var(--font-size-medium);
			margin-top: 0.75em;
		}

.industries {
	
}
	.industries .l-flex-2-column {
		margin-bottom: 4em;
	}

	.industries__table {
		row-gap: 6em;
		column-gap: 33%;
	}

	.industries__content {
		position: relative;
		min-height: 250px;
	}

	.industries__title {
		margin-bottom: 3em;
		text-align: left;
	}

	.industries__text {
		position: absolute;
	}

		.industries__text--bottom {
			bottom: 0;
		}


input[type=text], textarea {
	font-size: 16px;
	margin: 0.75em 0 1.5em 0;
	padding: 0.5em;
	border-radius: 4px;
	width: 100%;
	border: none;
	box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.5);
	resize: none;
}

input[type=submit] {
	font-size: var(--font-size-icon-card-small);
	padding: 0.5em 1em;
	background-color: var(--color-tertiary);
	color: var(--color-secondary);
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

label {
	letter-spacing: 0.3em;
}

.values-table {
	--vertical-offset: 50%;

	justify-content: space-around;
	text-align: center;
}

	.values-table > *:nth-child(1) {
		transform: translate(0, calc(-1*var(--vertical-offset)));
	}

	.values-table > *:nth-child(3) {
		transform: translate(0, var(--vertical-offset));
	}

.title-bar {
	padding: 0.25em 1em;
	width: 100%;
	z-index: 1;
	display: none;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
}

	.title-bar > * {
		display: inline;
	}

/* Media queries */
@media only screen and (max-width: 1600px) {
	body.header-hidden #header {
		transform: translateX(calc(-1*var(--sidebar-width)));
		max-width: var(--sidebar-width);
	}

	body:not(.header-hidden) .opaque-overlay {
		display: block;
	}

	.l-sidebar .l-main-content {
		padding: 0 5% 5% 5%;
	}
	
	.l-sidebar .header-content {
		height: 100%;
		margin: 0 auto 0 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		max-width: calc(var(--sidebar-width)/1.5);
	}
	
	.title-bar {
		display: flex;
	}

	.industries__table {
		column-gap: 1em;
		row-gap: 3em;
	}
}

@media only screen and (max-width: 1000px) {
	:root {
		--font-size-icon-card-small: 14px;
		--font-size-medium: 16px;
		--font-size-large: 20px;
		--font-size-icon: 26px;
		--font-size-header: 32px;
	}
}

@media only screen and (max-width: 750px) {
	.l-grid-2-column.is-responsive {
		grid-template-columns: auto;
	}

	.services-table.offset-every-other > *:nth-child(2n) {
		top: 0;
	}
}

@media only screen and (max-width: 500px) {
	.industries__table.offset-every-other > *:nth-child(2n) {
			top: 0;
		}


	.about-details {
		margin-bottom: 5rem;
	}

		.about-details.l-flex-2-column {
			display: block;
		}

		.about-details img {
			position: static;
			transform: translateY(35%);
		}

		.about-details .background {
			width: 100%;
			height: 100%;
		}

		.about-details.l-flex-2-column > * { 
			width: auto;
		}

		.about-details .about-image {
			margin-bottom: 5rem;
		}


	.contact-form .l-flex-row {
		display: block;
	}
		
		.contact-form textarea {
			height: 200px;
		}

	.values-table {
		flex-direction: column;
	}

	.values-table > *:nth-child(1) {
		transform: none;
	}

	.values-table > *:nth-child(3) {
		transform: none;
	}
}