/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	     box-sizing: border-box;
}

/* Custom properties */
:root {
	/* Layout */
	--sidebar-width: 30rem;
	/* Theme */
	--color-primary: #07233b;
	--color-primary-light: #082844;
	--color-secondary: #ffffff;
	--color-secondary-transparent: hsla(0, 0%, 100%, 0.65);
	--color-tertiary: #e75a0d;
	--color-tertiary-light:  hsla(21, 89%, 70%);
	/* Font */
	--font-size-small: 16px;
	--font-size-medium: 18px;
	--font-size-large: 24px;
	--font-size-icon: 32px;
	--font-size-header: 48px;
	/* Animation */
	--animation-duration: 1s;
}

/* Typography */
html {
	font-family: "Verdana";
}

h2 {
	font-size: var(--font-size-header);
	letter-spacing: 0.3em;
	margin-bottom: 1em;
}

h3 {
	font-size: var(--font-size-large);
	margin-bottom: 1em;
}

p {
	font-size: var(--font-size-medium);
	line-height: 1.4em;
}

a {
	text-decoration: none;
}

li + li {
	margin-top: 1.25em;
}

/* Layout */
/* Disables horizontal scrolling. No idea where the extra space comes from. */
html, body {
	overflow-x: hidden;
}

#footer .l-main-content {
	padding-bottom: 0;
}

.l-sidebar header {
	position: fixed;
	left: 0;
	top: 0;
	width: var(--sidebar-width, 350px);
	height: 100vh;
	z-index: 1;
	transition: 0.7s ease-in;
}

.l-sidebar .l-main-content {
	padding: 0 5% 5% var(--sidebar-width);
}

.l-flex-row {
	display: flex;
}

.l-flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.l-flex-row.l-flex-two-column {
	flex-wrap: wrap;
	gap: 16px;
}

.l-flex-row.l-flex-two-column > * {
	width: 48%;
}

.l-flex-two-column > *:nth-child(2n) {
	position: relative;
	top: 3rem;
}

.l-margin-top {
	margin-top: 1em;
}

.l-margin-top-low {
	margin-top: 4em;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

img {
	object-fit: contain; /* Needed to maintain img aspect ratio in flex box. */
}

/* Modules */
.btn-nav {
	font-size: var(--font-size-icon);
	color: var(--color-secondary);
	border: none;
	background-color: transparent
}

.header-content {
	width: 70%;
	min-height: 90%;
	margin: 0 auto;
	padding: 3em 1em;
	text-align: center;
}

.nav-socials {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 3rem;
}

.nav-primary {
	text-align: right;
}

nav li {
	font-size: 1.5rem;
	letter-spacing: 0.3em;
}

nav a {
	color: var(--color-tertiary);
	transition: color 1s;
}

nav a:hover {
	color: var(--color-tertiary-light);
}

.logo {
	line-height: 1.25;
	font-size: 2.2em;
	text-align: center;
}

.profile-img {
	display: block;
	height: auto;
	margin: 0 auto;
	width: 175px;
	border-radius: 50%;
	filter: grayscale(100%);
}

main section {
	--section-header-padding-top: 5em;
	--section-content-verticle-offset: calc(-9rem + var(--section-header-padding-top));
}


main .section-header {
	padding-top: var(--section-header-padding-top);
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

main .section-content {
	position: relative;
	top: var(--section-content-verticle-offset);
}

.section-header p {
	color: hsl(0, 0%, 85%);
	padding-left: 2em;
	font-size: var(--font-size-large);
}

.services-table p {
	color: var(--color-secondary-transparent);
	font-size: var(--font-size-large);
}

.about-details {
	padding-top: 4rem;
}

	.about-details img {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
		width: 200px;
		filter: grayscale(100%);
	}

	.about-details .background {
		position: absolute;
		right: 3rem;
		width: 70%;
		height: 100%;
	}

	.about-details p {
		margin: 2rem 0 6rem 0;
		text-align: justify;
	}

	.about-details .about-image {
		position: relative;
	}

.clients-table {
	justify-content: space-between;
}

.client-card {
	font-size: var(--font-size-medium);
	padding: 2em 1em 2em 1em;
	display: flex;
	gap: 2em;
}

	.client-card img {
		max-width: 150px;
	}

	.client-card ul {
		font-size: var(--font-size-small);
		list-style-type: square;
		padding-left: 10%;
		color: var(--color-tertiary);
	}

	.client-card span {
		color: var(--color-primary);
	}


.contact-form {
	font-size: var(--font-size-small);
	padding: 2em 2em;
}

	.contact-form .l-flex-row {
		gap: 5%;
	}

		.contact-form .l-flex-row > * {
			flex: 1;
		}

	.contact-form textarea {
		height: 100%;
	}

.icon-card {
	--icon-card-padding-vertical: 2em;
	--icon-offset-right: 0.75em;
	--content-padding-left: calc(var(--icon-offset-right )*8);

	position: relative;
	padding:
	var(--icon-card-padding-vertical, 0)
	2em
	var(--icon-card-padding-vertical, 0)
	var(--content-padding-left, 0);
}

	.icon-card .fa-stack {
		position: absolute;
		left: calc(var(--icon-offset-right));
		font-size: var(--font-size-icon);
	}

	.icon-card p {
		font-size: var(--font-size-medium);
		
	}

	.icon-card h3 {
		margin-top: 0.75em;
	}

input[type=text], textarea {
	font-size: 16px;
	margin: 0.75em 0 1.5em 0;
	padding: 0.5em;
	border-radius: 4px;
	width: 100%;
	border: none;
	box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.5);
	resize: none;
}

input[type=submit] {
	font-size: var(--font-size-small);
	padding: 0.75em;
	background-color: var(--color-tertiary);
	color: var(--color-secondary);
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

label {
	letter-spacing: 0.3em;
}

.values-table {
	justify-content: space-around;
}

.title-bar {
	padding: 0.25em 1em;
	width: 100%;
	z-index: 1;
	display: none;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
}

	.title-bar > * {
		display: inline;
	}

/* Themes */
.bg-color-primary {
	background-color: var(--color-primary);
}

.bg-color-primary-light {
	background-color: var(--color-primary-light);
}

.bg-color-tertiary {
	background-color: var(--color-secondary);
}

.font-color-primary {
	color: var(--color-secondary);
}

.font-color-secondary {
	color: var(--color-primary);
}

.font-color-secondary-transparent {
	color: var(--color-secondary-transparent);
}

.font-color-tertiary {
	color: var(--color-tertiary);
}

.box-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3),0 2px 10px 0 rgba(0,0,0,0.2);
}

.border-radius {
	border-radius: 7px;
}

.border-top {
	border-top: var(--color-tertiary) solid 4px;
}

.fa-circle {
	color: var(--color-tertiary);
}

.parallax {
	min-height: 400px;
	background-image: url("images/parallax.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.opaque-overlay {
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	background-color: hsla(0, 0%, 0%, 0.5);
}

.is-active {
	color: var(--color-tertiary-light);
}

/* Media queries */
@media only screen and (max-width: 1400px) {
	body.header-hidden #header {
		transform: translateX(calc(-1*var(--sidebar-width)));
		max-width: var(--sidebar-width);
	}

	body:not(.header-hidden) .opaque-overlay {
		display: block;
	}

	.l-sidebar .l-main-content {
		padding: 0 5% 5% 5%;
	}
	
	.l-sidebar .header-content {
		height: 100%;
		margin: 0 auto 0 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		max-width: calc(var(--sidebar-width)/2);
	}
	
	.title-bar {
		display: flex;
	}
}

@media only screen and (max-width: 950px) {
	:root {
		--font-size-small: 14px;
		--font-size-medium: 16px;
		--font-size-large: 20px;
		--font-size-icon: 26px;
		--font-size-header: 32px;
	}
}

@media only screen and (max-width: 500px) {

	.l-flex-row.l-flex-two-column.is-responsive > * {
		width: 100%;
		top: 0;
	}

	.about-details.l-flex-two-column {
		display: block;
	}

		.about-details.l-flex-two-column > * { 
			width: auto;
		}

		.about-image .background {
			width: 100%;
			height: 120%;
		}

		.about-image img {
			position: static;
			transform: translateY(35%);
		}

	.contact-form .l-flex-row {
		display: block;
	}
		
		.contact-form textarea {
			height: 200px;
		}

	.client-card {
		flex-direction: column;
		align-items: center;
	}
}

/* Animation */
@media (prefers-reduced-motion: no-preference) {
	p.animate {
		animation-name: slide-from-bottom;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.sidebar.animate {
		animation-name: slide-from-left;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.sidebar.animate .logo, .sidebar.animate img, .sidebar.animate h3 {
		animation-name: slide-from-top;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.sidebar.animate nav, .sidebar.animate footer, .sidebar.animate p {
		animation-name: slide-from-bottom;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.services-table.animate {
		animation-name: slide-from-right;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.clients-table.animate {
		animation-name: slide-from-left;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.values-table.animate {
		animation-name: slide-from-right;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.about-details.animate .about-image {
		animation-name: slide-from-left;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.about-details.animate p {
		animation-name: slide-from-right;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.contact-form.animate {
		animation-name: slide-from-bottom;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	.section-header.animate > * {
		animation-name: slide-from-bottom;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

	footer.animate .icon-card {
		animation-name: slide-from-right;
		animation-duration: var(--animation-duration);
		animation-iteration-count: 1;
	}

}

@keyframes slide-from-left {
	from {
		transform: translateX(-25%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(25%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}


@keyframes slide-from-top {
	from {
		transform: translateY(-25%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-from-bottom {
	from {
		transform: translateY(25%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}